
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2, p { margin: 10px; }

/* Menu */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li { float: left; }

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover { background-color: #111; }

/* Formulario */
.formulario {
  width: 500px;
  margin: 0 auto 30px auto;
}

.formulario h3 { text-align: center; }

label { display: block; }

input[type=text],
input[type=number],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
}

/* Botoes */
.button {
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
  cursor: pointer;
}

.button-enviar { border: 2px solid #04AA6D; }

.button-enviar:hover {
  background-color: #04AA6D;
  color: white;
}

/* Tabela */
.tabela {
  width: 700px;
  margin: 0 auto;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even) { background-color: #f2f2f2; }

tr:hover { background-color: #ddd; }

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}

