.box1{
    display: inline;
    background-color: blue;
    width: 200px;
    height: 250px;
    padding: 15px;
    margin: 10px;
}


.box2{
    display: inline;
    background-color: yellow;
    width: 200px;
    height: 250px;
    padding: 15px;
    margin: 10px;
}

.box3{
    display: inline;
    background-color: green;
    width: 200px;
    height: 250px;
    padding: 15px;
    margin: 10px;
}