.Menu1{
    background-color: red;
    width: 1800px;
    height: 200px;
    position: fixed;
    top: -10px;
    left: 0px;
    text-align: center;
    align-content: center;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
}


.inicial{
    margin-left: -1450px;
    margin-top: -100px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.cardapio{
    margin-left: -750px;
    margin-top: -365px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    top: 80px;
}

.reservas{
    margin-left: 750px;
    margin-top: -30px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.promoções{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 1450px;
    margin-top: -30px;
}

.banner{
    border-radius: 10px;
    margin-top: 140px;
    height: 200px;
    width: 100;
}
