h1{
    font-size:x-large;
}
body {
  height: 200px;
  margin: 0;
  position: relative;
  background: #eee;
}

.alvo {
  width: 60px;
  height: 60px;
  background: red;
  border-radius: 50%;
  position: absolute;
    cursor: pointer;
  transition: transform ;
}